{% extends 'meditate/base.html' %}

{% block page_title %}Édition d'entité{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-lg-12">
            {% if entity.pk %}
                <form method="POST" class="form-horizontal" action="{% url 'meditate.views.edition.entity_edit' entity.pk %}">
            {% else %}
                <form method="POST" class="form-horizontal" action="{% url 'meditate.views.edition.entity_edit' class_type_name %}">
            {% endif %}
                {% csrf_token %}
                {% include 'form/form.html' %}
                {% include 'form/validation.html' %}
            </form>
        </div>
    </div>
{% endblock %}