{% extends 'meditate/base.html' %}

{% block page_title %}Classes d'entité{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills">
                <li><a href="{% url 'meditate.views.admin.entities_classes_edit' %}">Ajouter une classe</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <tr><th>Titre</th><th>Nom</th></tr>
            {% for class in classes %}
            <tr>
                <td>{{ class.title }}</td>
                <td>{{ class.name }}</td>
                <td><a href="{% url 'meditate.views.admin.entities_classes_field_groups' class.pk %}">Champs</a></td>
                <td><a href="{% url 'meditate.views.admin.entities_classes_types' class.pk %}">Types</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}